@import "../../colors.scss";

.search-header {
  width: 100%;


  /deep/ .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  /deep/ .mat-form-field-flex {
    padding-top: 0;
  }

  .mat-form-field, input {
    width: 100%;
  }
}

.search-results {
  display: flex;
  flex-direction: row;

  app-spinner {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .empty {
    width: 100%;
  }

  .list {
    width: 100%;
    display: flex;

    .mat-card {
      flex: 0 0 calc(50% - 62px);

      h3 {
        margin: 0;
      }

      .championship-detail {
        align-items: center;

        h5 {
          color: $gull-grey;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .list {
    flex-direction: column;
  }
}
