@import "../../colors.scss";

app-spinner {
  display: flex;
  justify-content: center;
}

.races-results {
  display: flex;
  flex-direction: row;

  .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .mat-card {
      max-width: calc(50% - 62px);
      flex-grow: 1;
      flex: calc(50% - 62px);

      h3 {
        margin: 0;
      }

      h4 {
        margin: 10px 0 0 0;
        color: $gull-grey;

        sup {
          vertical-align: initial;
        }
      }

      .race-detail {
        align-items: center;

        h5 {
          color: $gull-grey;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .list {
    flex-direction: column;
  }
}
