<mat-card>
  <h1 [translate]="'races.title'"></h1>

  <span [translate]="'races.description'"></span>

</mat-card>

<!-- Spinner which is shown when the app is busy retrieving data. -->
<app-spinner *ngIf="races == null" [class.shown]="races == null"></app-spinner>

<div class="races-results">
  <!-- Message shown when result count is 0. -->
  <h5 *ngIf="races != null && races.length === 0" class="empty text-center" [translate]="'races.championshipNoRaces'"></h5>

  <!-- Result container, when result count > 0. -->
  <div *ngIf="races != null && races.length > 0" class="list">
    <mat-card *ngFor="let race of races">
      <mat-card-content>
        <h3>{{race.name}}</h3>
        <h4>
          {{race.location}}
          <!-- If there is no dateTo (single day event), show just the dateFrom. -->
          <sup *ngIf="!race.dateTo">
            ({{race.dateFrom | date: "dd-MM-yyyy"}})
          </sup>
          <!-- If there is a dateTo (multi-day event), show both dates. -->
          <sup *ngIf="race.dateTo">
            ({{race.dateFrom | date: "dd-MM-yyyy"}} t/m {{race.dateTo | date: "dd-MM-yyyy"}})
          </sup>
        </h4>
        <div class="row-wrap race-detail">
          <div class="fxFlex-50">
            <h5>
              <span *ngIf="race.sessions == null || race.sessions.length === 0" [translate]="'generic.noSessions'"></span>
              <span *ngIf="race.sessions.length === 1">{{race.sessions.length}} {{'generic.session' | translate}}</span>
              <span *ngIf="race.sessions.length > 1">{{race.sessions.length}} {{'generic.sessions'| translate}}</span>
            </h5>
          </div>
          <div class="fxFlex-50 text-right">
            <a [routerLink]="['/', 'championship', championshipId, 'race', race.id]" class="mat-raised-button mat-primary"
              [innerHTML]="'generic.goToRace' | translate"></a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
