<!-- Spinner which is shown when the app is busy retrieving data. -->
<app-spinner *ngIf="race == null"></app-spinner>

<!-- UI to shown when the race data is loaded. -->
<div class="race-wrapper" *ngIf="race != null">

  <!-- Header image, if available. -->
  <mat-card class="header-image" *ngIf="race.headerImageUrl != null">
    <img mat-card-image [src]="race.headerImageUrl" [ngStyle]="{'object-position': '0%' + race.headerPosition + '%'}" />
  </mat-card>

  <!-- Main race info. -->
  <div class="row-wrap">

    <mat-card class="race-details text-center">

      <!-- Show embedded Google Maps, if an address is given. -->
      <div class="mat-card-image" *ngIf="race.address != null">
        <iframe [src]="race.address | addressToGmaps | safe" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <mat-card-content>
        <div class="race-img">
          <img [src]="race.eventLogoUrl" />
        </div>
        <h3>{{race.name}}</h3>
        <h6>{{race.location}} - {{race.dateFrom | date: "dd MMM yyyy"}}</h6>
        <mat-card-actions>
          <a mat-raised-button color="primary" href="{{race.url}}" target="_blank" *ngIf="race.url != null">Website</a>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <div class="fxFlex">
      <!-- Message to show when there aren't any sessions. -->
      <mat-card *ngIf="race.sessions == null || race.sessions.length == 0" class="session-result">
        <h5>There are no sessions (yet).</h5>
      </mat-card>

      <!-- Show session results. -->
      <ng-container *ngIf="race.sessions != null && race.sessions.length > 0">
        <mat-card *ngFor="let session of race.sessions" class="session-result">
          <h3>{{session.name}}</h3>
          <div class="row-wrap">
            <div class="half">
              <h5>
                <span *ngIf="session.results.length === 0">Results aren't in yet.</span>
                <span *ngIf="session.results.length > 0"><i class="fa fa-trophy gold"></i>
                  {{session.results[0].driver}}</span>
                <span *ngIf="session.results.length > 1"><i class="fa fa-trophy silver"></i>
                  {{session.results[1].driver}}</span>
                <span *ngIf="session.results.length > 2"><i class="fa fa-trophy bronze"></i>
                  {{session.results[2].driver}}</span>
              </h5>
            </div>
            <div class="half button-more text-right">
              <a [routerLink]="['/', 'championship', championshipId, 'race', race.id, 'session', session.id]"
                mat-raised-button ripple color="primary" *ngIf="session.results.length > 0">View results</a>
              <a mat-raised-button ripple color="primary" class="disabled" *ngIf="session.results.length === 0">View
                results</a>
            </div>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
