@import "../../colors.scss";

.race-details {
  iframe {
    width: 100%;
    height: 100%;
  }

  .race-img {
    margin-top: 0;
    margin-bottom: 20px;

    img {
      height: 128px;
    }
  }

  h3 {
    margin: 0;
  }

  h6 {
    margin-top: 5px;
  }
}

.session-result {
  h3 {
    margin: 0;
  }

  h5 {
    color: $gull-grey;
    display: inline-block;
  }

  .fa {
    &.gold {
      color: $gold;
    }

    &.silver {
      color: $silver;
    }

    &.bronze {
      color: $brandy-punch;
    }
  }

  span {
    margin-right: 10px;
  }

  .button-more {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  a {
    display: inline-block;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .race-details {
    flex: 1 1 0%;
  }
}
