<!-- Spinner that is shown until the page has loaded, -->
<app-spinner *ngIf="championship == null" [class.shown]="championship == null"></app-spinner>

<!-- The page wrapper, containing the view. -->
<div class="page-wrapper" *ngIf="championship != null">

  <mat-card class="header">
    <img *ngIf="championship.championshipImageUrl" [src]="championship.championshipImageUrl" [alt]="championship.name" />
    <div class="title">
      <h1>{{championship.name}}</h1>

      <span>{{championship.description || "No description given."}}</span>
    </div>

    <div class="actions" *ngIf="!isProd">
      <a mat-raised-button mat-ripple color="primary" [routerLink]="['/', 'championship', championship.id, 'races', 'add']">Add
        race</a>
    </div>
  </mat-card>

  <div class="content">
    <mat-card class="race">
      <!-- Message to show when there are no sessions. -->
      <div *ngIf="championship.lastResult == null || championship.lastResult.sessions.length == 0">
        <h3>Last session result</h3>
        <h5>There hasn't been a session yet.</h5>
      </div>

      <!-- Top 3 results from last session. -->
      <div *ngIf="championship.lastResult != null && championship.lastResult.sessions.length > 0">
        <h3>
          Last session result ({{championship.lastResult.sessions[0].sessionType.toString() | lowercase }})
          <h5 class="inline">{{championship.lastResult.name}}</h5>
        </h3>

        <mat-table [dataSource]="championship.lastResult.sessions[0].results">

          <!-- Position column. -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef><abbr title="Position">Pos</abbr></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span>{{row.position}}</span>
            </mat-cell>
          </ng-container>

          <!-- Name column. -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Driver</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span>{{row.driver}}</span>
            </mat-cell>
          </ng-container>

          <!-- Time column. -->
          <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef>
              <span *ngIf="championship.lastResult.sessions[0].sessionType === 'Race'">Time</span>
              <span *ngIf="championship.lastResult.sessions[0].sessionType !== 'Race'">Fastest lap</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="(championship.lastResult.sessions[0].sessionType !== 'Race' || row.position === 1) && row.time">{{row.time}}</span>
              <span *ngIf="championship.lastResult.sessions[0].sessionType === 'Race' && row.difference">{{row.difference}}</span>
            </mat-cell>
          </ng-container>

          <!-- Laps column. -->
          <ng-container matColumnDef="laps">
            <mat-header-cell *matHeaderCellDef>Laps</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span>{{row.laps}}</span>
            </mat-cell>
          </ng-container>

          <!-- Header row definition. -->
          <mat-header-row *matHeaderRowDef="raceColumns"></mat-header-row>

          <!--Content row definition. -->
          <mat-row *matRowDef="let row; columns: raceColumns;"></mat-row>
        </mat-table>

        <mat-card-actions>
          <a mat-raised-button ripple color="primary" [routerLink]="['/', 'championship', championship.id, 'race', championship.lastResult.id]">Go
            to race</a>

          <a mat-raised-button ripple color="primary" [routerLink]="['/', 'championship', championship.id, 'races']">View
            all races</a>
        </mat-card-actions>
      </div>
    </mat-card>

    <mat-card class="standings">
      <h3>
        Current standings (top 3)
        <h5 class="inline">
          <!-- Message to show when there are no standings. -->
          <span *ngIf="championship.standings == null || championship.standings.length == 0">
            There are no standings*
            <small>* because there hasn't been a race yet.</small>
          </span>
        </h5>
      </h3>

      <!-- Top 3 from the championship standings. -->
      <div *ngIf="championship.standings != null && championship.standings.length > 0">
        <mat-table [dataSource]="championship.standings">

          <!-- Position column. -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef><abbr title="Position">Pos</abbr></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span>{{row.position}}</span>
            </mat-cell>
          </ng-container>

          <!-- Name column. -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Driver</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span>{{row.name}}</span>
            </mat-cell>
          </ng-container>

          <!-- Points column. -->
          <ng-container matColumnDef="points">
            <mat-header-cell *matHeaderCellDef><abbr title="Points">Pts</abbr></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span>{{row.points}}</span>
            </mat-cell>
          </ng-container>

          <!-- Header row definition. -->
          <mat-header-row *matHeaderRowDef="standingColumns"></mat-header-row>

          <!--Content row definition. -->
          <mat-row *matRowDef="let row; columns: standingColumns;"></mat-row>
        </mat-table>

        <mat-card-actions>
          <a mat-raised-button ripple color="primary" [routerLink]="['/', 'championship', championship.id, 'standings']">Go
            to standings</a>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

</div>
