.description {
  margin-top: 15px;
}

.content {
  display: flex;

  .mat-card {
    flex: 1;

    .mat-card-actions {
      margin-top: 15px;
      padding: 8px;

      a {
        margin-right: 5px;
      }
    }
  }
}
