// Black.
$mineshaft-black: #303030;

// Blue.
$dodger-blue: #2196f3;
$neon-blue: #536dfe;
$pickled-bluewood: #2d3d4a;

// Brown/bronze.
$brandy-punch: #cd7f32;

// Yellow/gold.
$gold: #ffd700;
$mysin: #ffb22b;

// Grey.
$bermuda-grey: #7a8ea9;
$dove-grey: #6b6b6b;
$gull-grey: #99abb4;
$nevada-grey: #67757c;
$regent-grey: #8f999e;
$tundora-grey: #424242;

// Red.
$red: #ee0000;

// Silver.
$silver: #c0c0c0;
$silver-chalice: #aaaaaa;

// White.
$white: #ffffff;
