@import "./colors.scss";
@import '~@angular/material/theming';
@include mat-core();

.dark {
  .mat-toolbar {
    .mat-icon-button {
      background: transparent;
      color: $white;
    }

    &.mat-toolbar-primary {
      background: $dodger-blue;
      color: $white;
    }
  }

  .mat-drawer-container {
    background-color: $mineshaft-black;

    .mat-drawer {
      background-color: $tundora-grey;

      .mat-nav-list {
        .mat-list-item {
          height: auto;

          .mat-list-item-content {
            display: block;

            a {
              color: $regent-grey;
            }
          }
        }
      }
    }
  }

  .row-wrap {
    display: flex;
    flex-flow: row wrap;
  }

  .mat-card {
    display: block;
    position: relative;
    margin: 15px;
    border-radius: 4px;
    background-color: $tundora-grey;
    color: $white;

  }

  .mat-raised-button {
    color: $white;

    &.btn-block {
      display: block;
      width: 100%;
    }

    &.mat-primary {
      background-color: $dodger-blue;
    }

    &.disabled {
      cursor: not-allowed;
      color: rgba(255,255,255,.3);
      background-color: rgba(255,255,255,.12);
    }
  }

  .fa {
    &.gold {
      color: $gold;
    }

    &.silver {
      color: $silver;
    }

    &.bronze {
      color: $brandy-punch;
    }
  }

  .text-center{
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  a {
    transition: 0.25s all ease;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }

  h3 {
    font-size: 21px;
    line-height: 30px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
    line-height: 18px;
  }

  h6 {
    font-size: 14px;
    line-height: 16px;
  }
}
