@import '~@angular/material/theming';
@include mat-core();

.dark {
  .mat-toolbar {
    .mat-icon-button {
      background: transparent;
      color: #ffffff;
    }

    &.mat-toolbar-primary {
      background: #2196f3;
      color: #ffffff;
    }
  }

  .mat-drawer-container {
    background-color: #303030;

    .mat-drawer {
      background-color: #424242;

      .mat-nav-list {
        .mat-list-item {
          height: auto;

          .mat-list-item-content {
            display: block;
            a {
            color: #8999a0;
            }
          }
        }
      }
    }
  }

  .row-wrap {
    display: flex;
    flex-flow: row wrap;
  }

  .mat-card {
    display: block;
    position: relative;
    margin: 15px;
    border-radius: 4px;
    background-color: #424242;
    color: #ffffff;

  }

  .mat-raised-button {
    color: #ffffff;

    &.btn-block {
      display: block;
      width: 100%;
    }

    &.mat-primary {
      background-color: #2196f3;
    }

    &.disabled {
      cursor: not-allowed;
      color: rgba(255,255,255,.3);
      background-color: rgba(255,255,255,.12);
    }
  }

  .text-center{
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  a {
    transition: 0.25s all ease;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }

  h3 {
    font-size: 21px;
    line-height: 30px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
    line-height: 18px;
  }

  h6 {
    font-size: 14px;
    line-height: 16px;
  }
}
