/* You can add global styles to this file, and also import other style files */
@import "colors.scss";

body {
  margin: 0;
  background: $pickled-bluewood;
  color: $nevada-grey;
  font-family: "Poppins" ,sans-serif;
  font-weight: 300;
}

.fxFlex {
  flex: 1 1 0%;
}

.fxFlex-50 {
  flex: 1 1 50%;
  max-width: 50%;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  right: 2px;
  background-color: $silver-chalice;
  border-radius: 6px
}
