/* You can add global styles to this file, and also import other style files */
@import "site.scss";

body {
  margin: 0;
  background: #2d3d4a;
  color: #67757c;
  font-family: "Poppins" ,sans-serif;
  font-weight: 300;
}

.fxFlex {
  flex: 1 1 0%;
}
