@import "../../../colors.scss";

.box-wrapper {
  height: calc(100vh - 94px);
  display: flex;
  align-items: center;
}

.box {
  max-width: 400px;
  min-width: 240px;
  margin: 0 auto;
  vertical-align: middle;

  .mat-card {
    padding: 24px;
  }

  .mat-form-field {
    width: 100%;
    display: inline-block;
  }

  .mat-button {
    margin: 20px 0 20px 0;
    line-height: 48px;
    font-size: 14px;
    font-weight: 500;
  }

  a {
    color: $dodger-blue;
    text-decoration: none;

    &.forgot {
      color: $dove-grey;

     &:hover {
       color: $dodger-blue;
     }
    }
  }
}
