<mat-nav-list>
  <mat-list-item *ngFor="let item of menu.getItems()" routerLinkActive="selected">
    <!-- Root menu item. -->
    <a [routerLink]="['/', item.url]" class="root-item" *ngIf="item.type === ''">
      <i class="fas fa-{{item.icon}}"></i>
      <span>{{item.name}}</span>
    </a>

    <!-- Sub menu root. -->
    <a class="root-item" *ngIf="item.type === 'sub'">
      <i class="fas fa-{{item.icon}}"></i>
      <span>{{item.name}}</span>
      <span class="fxFlex"></span>
      <i class="dropdown fas fa-angle-down"></i>
    </a>

    <mat-nav-list class="sub-item-children" *ngIf="item.type === 'sub'">
      <!-- Sub menu item. -->
      <mat-list-item *ngFor="let subItem of item.children" routerLinkActive="selected">
        <a [routerLink]="['/', item.url, subItem.url]" routerLinkActive="selected" *ngIf="subItem.type === ''">
          <span>{{subItem.name}}</span>
        </a>

        <a [routerLink]="['/', item.url, '1', subItem.url]" routerLinkActive="selected" *ngIf="subItem.type === 'id'">
          <span>{{subItem.name}}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>

  </mat-list-item>
</mat-nav-list>

<div class="about-app text-center">
  <p>V {{version}} &ndash; Copyright &copy; 2019</p>
  <p>
    <a href="http://twitter.com/dickw0lff" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="http://github.com/TrackrApp" target="_blank"><i class="fab fa-github"></i></a>
  </p>
</div>
