@import "../../../colors.scss";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Prevent any text from the sidebar to be selected.
* {
  user-select: none;
}

.mat-nav-list {

  .mat-list-item {
    a {
      height: 45px;
      margin-bottom: 10px;
      padding: 0 10px;
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 17px;
      white-space: nowrap;
      color: $regent-grey;

      .fas {
        margin-right: 8px;
      }

      .dropdown {
        transition: .25s ease;

        &.rotate {
          transform: rotate(-180deg);
        }
      }
    }

    &.selected a.root-item {
      color: $white;
      background-color: $dodger-blue;
      border-radius: 4px;
    }

    &.selected .sub-item-children a.selected {
      background: transparent;
      color: $white;
      font-weight: 500;
    }

    .sub-item-children, .sub-sub-item-children {
      margin-top: -15px;
      max-height: 1000px;
      overflow-y: hidden;
      transition: max-height .25s ease;

      &.hidden {
        max-height: 0;
      }

      a {
        padding-left: 20px;
        margin-bottom: 0;
      }
    }

    .sub-sub-item-children {
      margin-top: -5px;
    }
  }
}

.about-app {
  padding: 0 16px;
  font-size: 14px;

  a {
    padding: 0 16px;
    font-size: 18px;
  }
}
