.mat-nav-list {
  .mat-list-item {
    a {
      height: 45px;
      padding: 0 10px;
      align-items: center;
      display: flex;
      font-size: 17px;
      white-space: nowrap;
      color: #8f999e;

      .fas {
        margin-right: 8px;
      }
    }

    &.selected {
      a {
        color: #fff;
        font-weight: 500;
      }
    }
  }
}
