<mat-nav-list>
  <!-- Home. -->
  <mat-list-item routerLinkActive="selected">
    <a [routerLink]="['/', 'home']" class="root-item">
      <i class="fas fa-home"></i>
      <span>Home</span>
    </a>
  </mat-list-item>

  <!-- Search. -->
  <mat-list-item routerLinkActive="selected">
    <a [routerLink]="['/', 'search']" class="root-item">
      <i class="fas fa-search"></i>
      <span>Search</span>
    </a>
  </mat-list-item>

  <!-- Championship/id. [only shown when a championship is opened] -->
  <mat-list-item routerLinkActive="selected" *ngIf="router.url.indexOf('championship') > -1">
    <a class="root-item">
      <i class="fas fa-trophy"></i>
      <span>Championship</span>
      <span class="fxFlex"></span>
      <i class="dropdown fas fa-angle-down"></i>
    </a>

    <mat-nav-list class="sub-item-children">
      <!-- Overview. -->
      <mat-list-item routerLinkActive="selected">
        <a [routerLink]="['/', 'championship', championshipId, 'overview']" routerLinkActive="selected">
          <span>Overview</span>
        </a>
      </mat-list-item>

      <!-- Races. -->
      <mat-list-item routerLinkActive="selected">
        <a [routerLink]="['/', 'championship', championshipId, 'races']" routerLinkActive="selected">
          <span>Races</span>
        </a>

        <!-- List of indivial item, below Races parent. -->
        <mat-nav-list class="sub-sub-item-children">

          <!-- Race/id. [only shown when a race or session is opened] -->
          <mat-list-item routerLinkActive="selected" *ngIf="router.url.indexOf('race/') > -1">
            <a [routerLink]="['/', 'championship', championshipId, 'race', raceId]" routerLinkActive="selected">
              <span>Race</span>
            </a>

          </mat-list-item>

        </mat-nav-list>

      </mat-list-item>

      <!-- Standings. -->
      <mat-list-item routerLinkActive="selected">
        <a [routerLink]="['/', 'championship', championshipId, 'standings']" routerLinkActive="selected">
          <span>Standings</span>
        </a>
      </mat-list-item>

    </mat-nav-list>

  </mat-list-item>

  <!-- About. -->
  <mat-list-item routerLinkActive="selected">
    <a [routerLink]="['/', 'about']" class="root-item">
      <i class="fas fa-info-circle"></i>
      <span>About</span>
    </a>
  </mat-list-item>

</mat-nav-list>

<div class="about-app text-center">
  <p>v{{version}} &ndash; Copyright &copy; 2019</p>
  <p>
    <a href="http://twitter.com/dickw0lff" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="http://github.com/TrackrApp" target="_blank"><i class="fab fa-github"></i></a>
  </p>
</div>
