<div class="row wrap">

  <mat-card>
    <mat-card-content>
      <h1>About</h1>

      <div class="row-wrap about-text-wrapper">
        <p>Trackr is an application that allows users to add races, sessions and results. It also tracks the
          standings, based on the point system used.</p>

        <p>Trackr is developed by <a href="http://twitter.com/dickw0lff" _target="blank">Dick Wolff</a>.</p>

        <p>Found a bug? Report it on <a href="https://github.com/TrackrApp/Trackr" _target="blank"><i class="fab fa-github"></i>
            Github</a>!</p>
      </div>
    </mat-card-content>
  </mat-card>

</div>
