<mat-card>
  <h1 [translate]="'home.title'"></h1>

  <span [translate]="'home.description'"></span>
</mat-card>

<!-- Spinner which is shown when the app is busy retrieving data. -->
<app-spinner *ngIf="stats == null"></app-spinner>

<!-- UI to shown when the stats are loaded. -->
<div class="row-wrap" *ngIf="stats != null">

  <!-- Championship count. -->
  <mat-card>
    <mat-card-content>
      <button mat-fab color="accent">
        <i class="fa fa-trophy"></i>
      </button>
      <div>
        <h3>{{stats.championshipCount}}</h3>
        <h6 *ngIf="stats.championshipCount !== 1" [translate]="'generic.championships'"></h6>
        <h6 *ngIf="stats.championshipCount === 1" [translate]="'generic.championship'"></h6>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Drivers count. -->
  <!-- Temporarily disabled, because it's not supported yet. -->
  <mat-card *ngIf="true === false">
    <mat-card-content>
      <button mat-fab color="primary">
        <i class="fa fa-user-alt"></i>
      </button>
      <div>
        <h3>{{stats.driverCount}}</h3>
        <h6 *ngIf="stats.driverCount !== 1" [translate]="'generic.drivers'"></h6>
        <h6 *ngIf="stats.driverCount === 1" [translate]="'generic.driver'"></h6>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Events count. -->
  <mat-card>
    <mat-card-content>
      <button mat-fab color="warn">
        <i class="fa fa-flag-checkered"></i>
      </button>
      <div>
        <h3>{{stats.eventCount}}</h3>
        <h6 *ngIf="stats.eventCount !== 1" [translate]="'generic.races'"></h6>
        <h6 *ngIf="stats.eventCount === 1" [translate]="'generic.race'"></h6>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Session count. -->
  <mat-card>
    <mat-card-content>
      <button mat-fab color="default">
        <i class="fa fa-stopwatch"></i>
      </button>
      <div>
        <h3>{{stats.sessionCount}}</h3>
        <h6 *ngIf="stats.sessionCount !== 1" [translate]="'generic.sessions'"></h6>
        <h6 *ngIf="stats.sessionCount === 1" [translate]="'generic.session'"></h6>
      </div>
    </mat-card-content>
  </mat-card>

</div>
