<mat-card>
  <h1>Home</h1>

  <span>Welcome to Trackr, a platform to manage and view race results.</span>
</mat-card>

<!-- Spinner which is shown when the app is busy retrieving data. -->
<app-spinner *ngIf="stats == null"></app-spinner>

<!-- UI to shown when the stats are loaded. -->
<div class="row-wrap" *ngIf="stats != null">

  <!-- Championship count. -->
  <mat-card>
    <mat-card-content>
      <button mat-fab color="accent">
        <i class="fa fa-trophy"></i>
      </button>
      <div>
        <h3>{{stats.championshipCount}}</h3>
        <h6>Championship<span *ngIf="stats.championshipCount != 1">s</span></h6>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Drivers count. -->
  <mat-card>
    <mat-card-content>
      <button mat-fab color="primary">
        <i class="fa fa-user-alt"></i>
      </button>
      <div>
        <h3>{{stats.driverCount}}</h3>
        <h6>Driver<span *ngIf="stats.driverCount != 1">s</span></h6>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Events count. -->
  <mat-card>
    <mat-card-content>
      <button mat-fab color="warn">
        <i class="fa fa-flag-checkered"></i>
      </button>
      <div>
        <h3>{{stats.eventCount}}</h3>
        <h6>Race<span *ngIf="stats.eventCount != 1">s</span></h6>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Session count. -->
  <mat-card>
    <mat-card-content>
      <button mat-fab color="default">
        <i class="fa fa-stopwatch"></i>
      </button>
      <div>
        <h3>{{stats.sessionCount}}</h3>
        <h6>Session<span *ngIf="stats.sessionCount != 1">s</span></h6>
      </div>
    </mat-card-content>
  </mat-card>

</div>
